.main {
  padding-top: 40px;
  clear: both;
  width: 1220px;
  min-height: 600px;
  padding: 0 0 25px;
  margin: 0 auto;
  .wrapper {
    overflow: hidden;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #dcdcdc;
    border-color: rgba(0, 0, 0, .14);
    box-shadow: 0 3px 8px -6px rgba(0, 0, 0, .1);
    .title {
      padding-left: 30px;
      position: relative;
      z-index: 10;
      height: 60px;
      padding: 0 10px 0 24px;
      border-bottom: 1px solid #d4d4d4;
      border-radius: 8px 8px 0 0;
      box-shadow: rgba(0, 0, 0, .06) 0 1px 7px;
      background: #f3f3f3;
      background: -webkit-linear-gradient(#fbfbfb, #ececec);
      background: linear-gradient(#fbfbfb, #ececec);
      line-height: 60px;
      font-size: 18px;
      color: #333;
    }
  }
}

.empty {
  height: 534px;
  padding: 385px 0 0 0;
  background: url('/src/images/img/cart-empty_f25b2c8c81.png') no-repeat center 50px;
  text-align: center;
  h3 {
    font-size: 14px;
    line-height: 1.5;
    color: #8d8d8d;
    margin-bottom: 17px;
    font-weight: 400;
  }
  a {
    width: 151px;
    line-height: 38px;
    height: 38px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    display: inline-block;
    color: #999;
    font-size: 12px;
    background: linear-gradient(#fff, #f0f0f0);
  }
}

.inner {
  padding-bottom: 91px;
  .operation {
    float: left;
    padding: 35px 26px;
    font-size: 12px;
    .checkAll {
      float: left;
      height: 20px;
      line-height: 20px;
      cursor: pointer;
      position: relative;
    }
    .deleteAll {
      position: relative;
      margin-left: 21px;
      color: #bbb;
      float: left;
      height: 20px;
      line-height: 20px;
      cursor: pointer;
    }
  }
  .shipping {
    display: inline-block;
    float: right;
    padding: 20px 30px;
    .shippingBox {
      display: inline-block;
      padding-top: 15px;
      margin-right: 20px;
      .shippingNum {
        float: left;
        text-align: right;
        padding: 0 20px;
      }
      .shippingPrice {
        padding-right: 0;
        display: inline-block;
        border-left: 1px solid #e1e1e1;
        padding: 0 20px;
      }
    }
    span {
      float: right;
      background: linear-gradient(#7EA3F5, #5A82F0);
      height: 48px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, .1), inset 0 -1px 2px rgba(0, 0, 0, .2);
      display: block;
      padding: 1px;
      margin: 0 auto;
      border-radius: 9px;
      text-align: center;
      text-shadow: rgba(255, 255, 255, .496094) 0 1px 0;
      cursor: pointer;
      user-select: none;
      a {
        padding: 2px 32px;
        font-size: 16px;
        height: 44px;
        line-height: 45px;
        box-shadow: none;
        text-shadow: none;
        color: #FFF;
        transition: all .3s ease;
        border-radius: 9px;
      }
    }
    span:hover {
      background: linear-gradient(#688fe8, #5079e1);
    }
  }
}

.bottom {
  width: 100%;
  height: 90px;
  border-radius: 0;
  position: fixed;
  left: 0;
  right: 0;
  bottom: -1px;
  min-width: 768px;
  max-width: 1218px;
  margin: 0 auto;
  z-index: 1;
  background-position: center;
  background: linear-gradient(#fdfdfd, #f9f9f9);
  border-top: 1px solid #e9e9e9;
  box-shadow: 0 -3px 8px rgba(0, 0, 0, .04);
}

h4 {
  color: #323232;
  i {
    color: #d44d44;
    width: 28px;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
  }
}





