.main {
  padding-top: 40px;
  clear: both;
  width: 1220px;
  min-height: 600px;
  padding: 0 0 25px;
  margin: 0 auto;
}

@mixin cz-pagination{
  display: inline-block;
  margin-left: 25%;
  margin-top: 40px;
  margin-bottom: 40px;
}