.nav {
    padding-top: 25px;
    margin-left:80px;
}

.nav ul{
    padding: 30px 0;
    list-style: none;
}

.nav ul li {
    float: left;
    /*float: left;
    margin-left: 50px;
    list-style-type: none;*/
}

.nav ul li a {
    padding: 0 20px;
    font-size: 14px;
    color: #666;
    text-decoration: none;
    /*text-decoration: none;
    color: #534E4E;
    font-size: 0.8em;*/
}

.nav ul li a:hover {
    /*color: #5470EC;*/
    color: #6b95ea;
}

.nav ul li a.active{
    font-weight: 700;
}

/*
.pagebody .main ul.links {
    padding: 30px 0;
    list-style: none;
}
.pagebody .main ul.links li {
    float: left;
}
.pagebody .main ul.links li a {
    padding: 0 20px;
    font-size: 14px;
    color: #666;
    text-decoration: none;
}
.pagebody .main ul.links li a:hover {
    color: #6b95ea;
}
.pagebody .main ul.links li:first-child a {
    font-weight: 700;
}*/
