@import "../../styles/common";

.main {
  min-height: 307px;
  .content {
    padding-top: 40px;
    clear: both;
    width: 1220px;
    min-height: 600px;
    padding: 0 0 25px;
    margin: 0 auto;
    .checkoutAddress {
      margin-bottom: 30px;
      overflow: hidden;
      border: 1px solid #D1D1D1;
      border-color: rgba(0, 0, 0, .14);
      border-radius: 8px;
      box-shadow: 0 3px 8px -6px rgba(0, 0, 0, .1);
      background: #FFF;
    }
    .orderList {
      margin-bottom: 30px;
      overflow: hidden;
      border: 1px solid #D1D1D1;
      border-color: rgba(0, 0, 0, .14);
      border-radius: 8px;
      box-shadow: 0 3px 8px -6px rgba(0, 0, 0, .1);
      background: #FFF;
    }
  }
}

.addressPanel {
  display: block;
  overflow: hidden;
  border-radius: 0 0 8px 8px;
  font-size: 14px;
  color: #626262;
  .addressItemList {
    padding: 30px 13px 0;
    .addressItem {
      overflow: hidden;
      float: left;
      width: 276px;
      height: 158px;
      margin: 0 0 30px 16px;
      border: 1px solid #E5E5E5;
      border-radius: 3px;
      line-height: 14px;
      text-align: left;
      word-wrap: break-word;
      word-break: normal;
      color: #626262;
      cursor: pointer;
      .operationSection {
        visibility: hidden;
        height: 28px;
        background: #E1E1E1;
        border-top: 1px solid #E1E1E1;
        display: flex;
        span {
          width: 137px;
          display: block;
          height: 28px;
          background: #FFF;
          text-align: center;
          line-height: 28px;
          font-size: 12px;
          &:hover {
            background: #F2F2F2;
          }
        }
      }
      &:hover {
        background: #F2F2F2;
        .operationSection {
          visibility: visible;
        }
      }
    }
    .activate {
      background: #FFF;
      border-color: #6A8FE5;
      &:hover {
        background: none;
      }
    }
    .addressAdd {
      background: #F2F2F2;
      p {
        height: 14px;
        padding-top: 85px;
        line-height: 14px;
        text-align: center;
        color: #999;
      }
    }
  }
}

.addressInfo {
  display: flex;
  flex-direction: column;
  padding: 19px 14px 0 19px;
  height: 130px;
  span {
    flex: 0 1 auto;
  }
  .nameSection {
    height: 16px;
    padding-right: 20px;
    line-height: 16px;
    font-size: 16px;
    color: #666;
  }
  .mobileSection {
    height: 14px;
    padding-top: 17px;
    line-height: 14px;
    color: #999;
    flex: 0 1 35px;
  }
  .detailSection {
    padding-top: 6px;
    line-height: 24px;
    color: #999;
  }
}

.cart {
  .cartTitle {
    padding: 0 0 0 29px;
    border-top: none;
    font-size: 12px;
    height: 38px;
    background: #EEE;
    border-bottom: 1px solid #DBDBDB;
    line-height: 38px;
    color: #666;
    .name {
      float: left;
      text-align: left;
      .nameCell {
        display: table-cell;
        vertical-align: middle;
      }
    }
    .subtotal {
      width: 130px;
      padding-right: 29px;
      text-align: right;
      float: right;
    }
    .num {
      width: 132px;
      padding-right: 29px;
      text-align: right;
      float: right;
    }
    .price {
      width: 120px;
      font-weight: 700;
      padding-right: 29px;
      text-align: right;
      float: right;
    }
  }
}

.cartTable {
  .cartGroup {

  }
}

.cartItem {
  border-top: none;
  position: relative;
  height: 110px;
  padding-left: 29px;
  color: #666;
  .itemsThumb {
    margin-top: 15px;
    border: 1px solid #EBEBEB;
    width: 78px;
    height: 78px;
    border-radius: 4px;
    float: left;
  }
  .name {
    display: table;
    width: 420px;
    height: 100%;
    margin-left: 30px;
    line-height: 24px;
    float: left;
    .nameCell {
      display: table-cell;
      vertical-align: middle;
    }
  }
  .subtotal {
    float: right;
    display: table;
    width: 129px;
    height: 100%;
    padding-right: 29px;
    text-align: right;
    line-height: 24px;
    color: #333;
    .subtotalCell {
      display: table-cell;
      vertical-align: middle;
      font-weight: 700;
      strong {
        font-weight: bold;
      }
    }
  }
  .num {
    width: 64px;
    padding: 0 9px 0 90px;
    text-align: center;
    overflow: hidden;
    float: right;
    width: 129px;
    padding-right: 29px;
    line-height: 110px;
    text-align: right;
    color: #333;
  }
  .price {
    width: 120px;
    font-weight: 700;
    overflow: hidden;
    float: right;
    padding-right: 29px;
    line-height: 110px;
    text-align: right;
    color: #333;
  }
}

.orderDiscount {
  padding: 21px 30px;
  border-top: 1px solid #EBEBEB;
  line-height: 30px;
  text-align: right;
  color: #626262;
  p span {
    float: right;
    width: 157px;
    font-weight: 700;
    strong {
      font-weight: bold;
    }
  }
}

.payment {
  padding: 22px 29px 19px 30px;
  background: linear-gradient(#FCFCFC, #F5F5F5);
  border-top: 1px solid #DADADA;
  box-shadow: -3px 0 8px rgba(0, 0, 0, .04);
  height: 92px;
  .price {
    padding: 0 40px;
    line-height: 50px;
    font-size: 14px;
    float: right;
    display: inline;
    em {
      display: inline-block;
      position: relative;
      top: 3px;
      margin-top: -4px;
      font-size: 24px;
      color: #d44d44;
      font-weight: 700;
      font-style: normal;
    }
  }
}


