.main {
  width: 990px;
  float: left;
  margin-left: 30px;

  .wrapper {
    margin-top: 0;
    min-height: 550px;
    margin-bottom: 20px;
    overflow: hidden;
    border: 1px solid #D1D1D1;
    border-color: rgba(0, 0, 0, .14);
    border-radius: 8px;
    box-shadow: 0 3px 8px -6px rgba(0, 0, 0, .1);
    background: #FFF;
  }
}

.title {
  height: 60px;
  padding: 0 10px 0 28px;
  background: #F5F5F5;
  background: linear-gradient(#FFF, #F5F5F5);
  border-bottom: 1px solid #DCDCDC;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 1px 7px rgba(0, 0, 0, .06);
  line-height: 60px;
  color: #646464;
}

.inner {
  .orderEmpty {
    background: url('/src/images/order-empty.png') top center no-repeat;
    background-size: 92px auto;
    padding: 145px 0 45px;
    margin-top: 105px;
    text-align: center;
    font-size: 18px;
    h2 {
      line-height: 1em;
      font-size: 22px;
      color: #999;
    }
    .emptyBtn {
      margin-top: 20px;
      width: 80px;
      display: inline-block;
      background: #F2F2F2;
      background: linear-gradient(#fff, #ececec);
      border: 1px solid #dbdde2;
      border-radius: 6px;
      height: 38px;
      line-height: 38px;
      cursor: pointer;
      overflow: hidden;
      text-align: center;
      a {
        color: #333;
      }
    }
    .emptyBtn:hover{
      background: linear-gradient(#f2f2f2,#e1e1e1);
      box-shadow: none;
    }
  }
}

